/* Estilo básico para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Container centralizado */
.container {
  width: 80%;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo do logo */
.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px; /* Ajuste o tamanho do logo conforme necessário */
  height: auto;
}

/* Estilo para títulos */
h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

/* Estilo para o formulário */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Botão */
button {
  background: #86c945;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background: #86c945;
}

/* Estilo para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: #86c945;
  color: #fff;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

/* Estilos para mensagens */
.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: #86c945;
  margin-bottom: 10px;
}

/* Centralizando texto */
.text-center {
  text-align: center;
}
